{% extends 'portfolio/base.html' %}



{% block content %}

<script>
    if (window.history.replaceState) { // verificamos disponibilidad
        window.history.replaceState(null, null, window.location.href);
    } ​
</script>

<input type="hidden" id="status" value={{status}}> </input>
<center style="margin-top:3em">
<h2 class="text-color"> Contacto </h2> </center>
{% if status == 'success'%}
<center id="msj_sent_mail">
    <span>
        Correo enviado correctamente
    </span>
</center>
{% endif %}
{% if status == 'fail'%}
<center id="msj_sent_mail_fail">
    <span>
        Su correo no pudo ser enviado, inténtelo de nuevo.
    </span>
</center>
{% endif %}
<div class="info ">
    <span></span>
<span>    
    <p><i class="fa-solid fa-id-card-clip"></i>
        Ing. Sistemas computacionales
    </p>
    <p><i class="fa-solid fa-id-card-clip"></i>
    Lucero Monserrat Sánchez Pavón </p>
    <p>
    <p><i class="fa-solid fa-earth-americas"></i> Orizaba, Ver. México</p>
     <p>
        {% comment %} <i class="fa-solid fa-mobile-screen"></i> {{number}} {% endcomment %}
    </p> 
    <p><i class="fa-regular fa-envelope"></i> {{mail}}</p></span>
    <span></span>
</div>

<center>
    <h3 class=""> Envía un correo </h3>
</center>
<div class="">
    <form action="/contacto" method="post">
        {% csrf_token %}
        <center>
            <div class="form">
                {{form}}
            <span></span> <input type="submit" value="Enviar">
            </div>        
        </center>
    </form>
</div>


{% endblock %}

