<div>
    <ul class="vertical-ul padd-l">
        <li> 
            Ing. Sistemas computacionales
        </li>
        <li>
            Lucero Monserrat Sánchez Pavón
        </li>
        <li>
            (+52) 272-130-71-51
        </li>
        <li>
            lmonserrat.sanchez@gmail.com
        </li>
    </ul>
    <ul class="vertical-ul padd-l">
        <li>
            Redes sociales:
        </li>
        <li >
            <a href="https://github.com/Lucero06" target="_blank"
            style="">
                <i class="fa-brands fa-github"></i> Github</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/luceromonserratsp/" target="_blank">
                <i class="fa-brands fa-linkedin"></i> Linkedin
            </a>
        </li>
        <li> &nbsp;
        </li>
    </ul>
</div>

