<div id="nav-content">

    <ul>
        {% url 'home' as home_url %}
        {% url 'preview' as preview_url %}
        {% url 'contact' as contact_url %}
        {% url 'cv' as cv_url %}
        <li 
            {% if  request.path  ==  home_url %}
            class="padd-l active-nav"
            {%else%}
            class="padd-l" 
            {%endif%} >
            <a href="{% url 'home' %}">Inicio</a>
        </li>
        <li 
            {% if  request.path  ==  preview_url %}
            class="padd-l active-nav"
            {%else%}
            class="padd-l" 
            {%endif%}>
            <a href="{% url 'preview' %}">Portafolio</a>
        </li>
        <li 
            {% if  request.path  ==  contact_url %}
            class="padd-l active-nav"
            {%else%}
            class="padd-l" 
            {%endif%}>
            <a href="{% url 'contact' %}">Contacto</a>
        </li>
        {% comment %} <li 
            {% if  request.path  ==  cv_url %}
            class="padd-l active-nav"
            {%else%}
            class="padd-l" 
            {%endif%}>
            <a href="{% url 'cv' %}">C.V.</a>
        </li> {% endcomment %}
    </ul>
</div>

