{% extends 'portfolio/base.html' %}
{% load static %}


{% block content %}
<br>

<div id="grid-preview"> 

<img src="{% static 'img/paginafletesymudanzasbravo.png' %}" alt="Pagina Fletes y Mudanzas Bravo Orizaba" >
<img src="{% static 'img/reporte_encuesta_administrativa.png' %}" alt="Reporte de Evaluacion Administrativa Universidad" >
<img src="{% static 'img/reporte_metodos_pago.png' %}" alt="Reporte de Metodos de Pago" >
<img src="{% static 'img/reporte_metodos_pago_2.png' %}" alt="Reporte de Metodos de Pago" >
<img src="{% static 'img/acta_estudio.png' %}" alt="Acta de estudio" >

<img src="{% static 'img/1.png' %}" alt="Módulo Universidad Datos Médicos">

<img src="{% static 'img/createordersnicehash.png' %}" alt="Sistema crear órdenes NiceHash">
<img src="{% static 'img/mobile1.jpg' %}" alt="App movil para administrar playlists de youtube (y youtube music)">
<img src="{% static 'img/mobile2.jpg' %}" alt="App movil para administrar playlists de youtube (y youtube music)">
<img src="{% static 'img/mobile3.jpg' %}" alt="App movil para administrar playlists de youtube (y youtube music)">

<img src="{% static 'img/2.png' %}" alt="Módulo Registro Servicio Social">
<img src="{% static 'img/3.png' %}" alt="Módulo Universidad Servicio Social">
<img src="{% static 'img/capt5.png' %}" alt="Módulo Registro Docentes Externos Posgrado">
<img src="{% static 'img/capt6.png' %}" alt="Módulo Registro Alumnos externos Posgrado">
<img src="{% static 'img/4.png' %}" alt="Módulo edición datos docente">
<img src="{% static 'img/5.png' %}" alt="Guardado de actualización de datos">


<img src="{% static 'img/13.png' %}"  alt="Listado y configuración de cursos, diplomado, talleres, posgrado">
<img src="{% static 'img/6.png' %}" alt="Vista y edición de módulos de cursos de posgrado">
<img src="{% static 'img/7.png' %}" alt="Edición de datos de curso, taller, diplomado">
<img src="{% static 'img/asignacion_docente_modulo.png' %}" alt="Edición módulo y asignacion docente">
<img src="{% static 'img/8.png' %}" alt="Inscripción de alumnos a curso, taller, diplomado, posgrado">

<img src="{% static 'img/captura_calificaciones.png' %}" alt="Captura de calificaciones">
<img src="{% static 'img/vista_edicion_calificaciones.png' %}" alt="Edición de calificaciones">
<img src="{% static 'img/acta_calificaciones_docente.png' %}" alt="Acta de calificaciones docente" >


<img src="{% static 'img/9.png' %}" alt="Lista y administración de artículos de foro de universidad">
<img src="{% static 'img/10.png' %}" alt="Registro de Controbuciones Universidad">
<img src="{% static 'img/11.png' %}" alt="Artículo de usuario">
<img src="{% static 'img/12.png' %}" alt="Actualizar datos de usuario">
{% comment %} <img src="{% static 'img/capt8.png' %}" > {% endcomment %}
</div>

{% endblock %}
