{% extends 'portfolio/base.html' %}
{% load static %}


{% block content %}
<br>
<div class="grid-preview"> 

{% comment %} <img src="{% static 'img/capt1.png' %}" > {% endcomment %}
{% comment %} <img src="{% static 'img/capt2.png' %}" > {% endcomment %}
{% comment %} <img src="{% static 'img/capt3.png' %}" > {% endcomment %}
<img src="{% static 'img/paginafletesymudanzasbravo.png' %}" >
<img src="{% static 'img/1.png' %}" >
<img src="{% static 'img/2.png' %}" >
<img src="{% static 'img/3.png' %}" >
<img src="{% static 'img/capt5.png' %}" >
<img src="{% static 'img/capt6.png' %}" >
<img src="{% static 'img/4.png' %}" >
<img src="{% static 'img/5.png' %}" >

<img src="{% static 'img/13.png' %}" >
<img src="{% static 'img/6.png' %}" >
<img src="{% static 'img/7.png' %}" >
<img src="{% static 'img/8.png' %}" >


<img src="{% static 'img/9.png' %}" >
<img src="{% static 'img/10.png' %}" >
<img src="{% static 'img/11.png' %}" >
<img src="{% static 'img/12.png' %}" >
{% comment %} <img src="{% static 'img/capt8.png' %}" > {% endcomment %}
</div>

{% endblock %}
