font-face {
    font-family: 'Raleway';
    src: local('Raleway'),
    url('fonts/Raleway-VariableFont_wght.ttf') format("truetype");
  }
  @font-face {
    font-family: 'MedievalSharp';
    src: local('MedievalSharp'),
    url('fonts/MedievalSharp.ttf') format("truetype");
  }
  @font-face {
    font-family: 'Eater';
    src: local('Eater'),
    url('fonts/Eater.ttf') format("truetype");
  }
  
body{
    font-family: 'Courier New', monospace;
    font-family: Helvetica, sans-serif;
    font-family: "Raleway", sans-serif;   
}

nav{
    font-family: "MedievalSharp";
    
}

h1,h2,h3,h4,h5{
    font-weight: 500 !important;
    line-height: 1.2;
}
.icono{
    font-size: 3em;
    top: 40vh;
    position: relative;
}
nav li:hover, .active-nav{
    
    font-family: "Eater" !important;
    color: black;
}

a{
    text-decoration: none;
}

a:link, a:visited{
    color: inherit;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
body::-webkit-scrollbar-track {
    background:  linear-gradient(0deg, darkslategrey 0%, darkcyan 100%);
}

body::-webkit-scrollbar-thumb {
    border-width: 1px;
    border-style:inset;
    border-color: white;
    background: transparent;
    box-shadow: 0px 6px 11px 4px #303030;
}

body::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.247);
}

nav{
    font-size: 1.2em;
    box-shadow: 0px 0px 5px 0px black;
    position: fixed;
    width: 100%;

    background-color:darkcyan;
    background-image: linear-gradient(90deg, rgb(32, 31, 31) 0%, darkcyan 50%);
    
    background-image: linear-gradient(90deg, black -5%, darkcyan 50%);
    height: 34px;
    color: white;

    padding: 5px;
}

body, nav, footer{
    margin: 0;
}

nav ul{
    text-align: center;
}

nav ul, footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

footer{
    font-size: .7em;
}
footer li{
    padding: 2px;
}

nav ul li, footer ul li {
    display: inline-block;
}

article{
    min-height: 91.8vh;
}

.vertical-ul li{
    display: block;
}
.vertical-ul{
    display: inline-block;
}


nav ul, nav div{
    height: 100%;   
}
nav li a{
    vertical-align: sub;
}

footer{
    background-color: darkslategrey;
}

footer div{
    padding: 10px;
    color: white;
}

.padd-l{
    padding: 0 0 0 10px;
}

.form{
    width: 80%;
    display: grid;
    grid-template-columns: .25fr .5fr;
    row-gap: 20px;
}
.form label{
    text-align: right;
    padding-right: 10px;
}
.form input{
    border-radius: 9px;
    border-width: 1px;
    height: 2em;
    border-style: solid;
    padding: 2px;
}

form .required::before{
    content: '*';
    color: red;
    font-size: 1.8em;
    vertical-align: text-top;
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


#icv{
    display: block;
    width: 100%;
    height: 100%;
}

#msj_sent_mail{
    color: seagreen;
    font-weight: bold;
}

#msj_sent_mail_fail{
    color: orangered;
    font-weight: bold;
}

.grid-preview img{
    width: 80%;
    margin-bottom: 10px;
    border: darkcyan;
    border-width: 1px;
    border-style: solid;
}
.grid-preview{
    text-align: center;
}

