@font-face {
    font-family: 'Raleway';
    src: local('Raleway'),
    url('fonts/Raleway-VariableFont_wght.ttf') format("truetype");
  }
@font-face {
    font-family: 'MedievalSharp';
    src: local('MedievalSharp'),
    url('fonts/MedievalSharp.ttf') format("truetype");
}
@font-face {
    font-family: 'Quintessential';
    src: local('Quintessential'),
    url('fonts/Quintessential-Regular.ttf') format("truetype");
}

body{
    font-family: "Raleway", sans-serif;   
}

@media (max-width: 600px) { 
    #spider{
        width: 15% !important;   
    }
    .web-lb{
        width: 30% !important;
    }
    nav{
        font-size: 1em !important;
    }
}

@keyframes transl{
    0%{
        top: -50%;
    }
    50%{
        top: 0px;
    }
    100%{
        top: 0px;
    }
}

#spider{
    top: -10px;
    position: absolute;
    width: 3.5%;
    left: 10px;
    z-index: -1;
    animation-name: transl;
    animation-duration: 8s;
    animation-timing-function: ease-out;  
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

#content{
    padding-top: 20px;
    position: relative;
//    z-index: -1;
    min-height: 75vh;
 //   overflow: hidden;
}
@media screen and (max-width:600px){
    #content{
        min-height: 60vh;
    }
}

.web-lb{
    width: 13%;
    position: absolute;
    bottom: 0px;
}

nav{
    font-family: "MedievalSharp";
    font-size: 1.2em;
    position: sticky;
    top: 0;
    color: white;
}

#img-nav{
    height:150%;
    top:-20px;
    position: absolute;
    visibility: hidden;
    z-index:-1;
}

h1,h2,h3,h4,h5{
    font-weight: 500 !important;
    line-height: 1.2;
}
.icono{
    font-size: 3em;
    top: 40vh;
    position: relative;
}
nav li{
    transition: 0.5s;
}
nav li:hover, .active-nav{
    font-family: "Quintessential" !important;
    font-size: 1.35em;
    color: black;
}

a{
    text-decoration: none;
}

a:link, a:visited{
    color: inherit;
}

nav, #nav-space{
    width: 100%;
    background-image: linear-gradient(90deg, black -5%, #b56c21 50%);
}

#nav-space{
    height: 20px;
    height: 3vh;
    display: block;
}
#nav-content{
    box-shadow:  0px 12px 13px -11px black;
    padding-bottom: 5px;
}

nav li a{
    vertical-align: sub;
}

body, nav, footer{
    margin: 0;
}

nav ul{
    text-align: center;
}

nav ul, footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

footer{
    font-size: .7em;
}
footer li{
    padding: 2px;
}

nav ul li, footer ul li {
    display: inline-block;
}


.vertical-ul li{
    display: block;
    padding-bottom: 7px;
}
.vertical-ul{
    display: inline-block;
}

//slider
article{
    overflow: hidden;
}
#slider{
    position:relative;
    z-index: -2 ;
    text-align: left;
    width: 500vw;
    max-height: 60vh;
    font-size: 0;
}
#slider .slide{
    padding:0px !important;
    margin: 0px !important;
    display: inline-block;
    width: 100vw;
    text-align: center;
    min-height: 50vh;
    overflow: none;    
    background-image: linear-gradient(to right,#00000085, rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0), #00000085);
    //background-image: linear-gradient(to right,#bc6d0e85, rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0), #bc6d0e85);
}
#slider .slide img{
    height: 97%;
    width: 80%;
    object-fit:cover;
    object-position: top;
    position: relative;
    z-index: -1;
}
@media screen and (max-width: 600px){

    #slider{
        max-height: 75vh;
    }
    #slider .slide img{
        width: 100%;
    }   
}
//end slider

::-webkit-scrollbar {
    width: 15px;
  }
  
body::-webkit-scrollbar-track {
    background:  linear-gradient(0deg, #100e14 0%, #b56c21 100%);
}

body::-webkit-scrollbar-thumb {
    border-width: 1px;
    border-style:inset;
    border-color: white;
    background: transparent;
    box-shadow: 0px 6px 11px 4px #303030;
}

body::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.247);
}

footer{
    background-color: #100e14;
}

footer div{
    padding: 20px 10px 20px 10px;
    color: white;
}

.padd-l{
    padding: 0 0 0 10px;
}

.form{
    width: 80%;
    display: grid;
    grid-template-columns: .25fr .5fr;
    row-gap: 20px;
}
.form label{
    text-align: right;
    padding-right: 10px;
}
.form input{
    border-radius: 9px;
    border-width: 1px;
    height: 2em;
    border-style: solid;
    padding: 2px;
}

form .required::before{
    content: '*';
    color: red;
    font-size: 1.8em;
    vertical-align: text-top;
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


#icv{
    display: block;
    width: 100%;
    height: 100%;
}

#msj_sent_mail{
    color: seagreen;
    font-weight: bold;
}

#msj_sent_mail_fail{
    color: orangered;
    font-weight: bold;
}

.grid-preview img{
    width: 80%;
    margin-bottom: 10px;
    border: darkcyan;
    border-width: 1px;
    border-style: solid;
}
.grid-preview{
    text-align: center;
}

