

<html lang="es">

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    
    <nav>
        {% include "navbar.html" %}
    </nav>
    <div style="height:39px"></div>

    <article>
        {% block content %}
        <center class="icono">
            <i class="fa-solid fa-person-digging"></i>
        </center>
        {% endblock %}
    </article>
    
    <footer>
        {% include "footer.html" %}
    </footer>
</body>


</html>