

<html lang="es">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head>
    {% load static %}
    {% load sass_tags %}

    <link rel="stylesheet" type="text/css" href="{% sass_src 'style.scss' %}">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="{% static 'slider.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body>    
        <div id="nav-space"> </div>
        
        <nav>
            {% load static %}
            <img id="img-nav" src="{% static 'img/skeleton-5585324.svg' %}">
            {% include "navbar.html" %}
        </nav>
    <div style=""></div>
    {% block content %}
    <div id="content">
    
        
        <img id="spider" id="" src="{% static 'img/spider-5593259_640.png' %}"> 
        <img class="web-lb" id="" src="{% static 'img/halloween-5644244.svg' %}">       
        {% comment %}<center class="icono">
             <i class="fa-solid fa-person-digging"></i> 
        </center>{% endcomment %}
    
        
    
        <center class="skll">
            <br>
            <h1 class="text-effect"> Tecnologías </h1>
            <h2>  </h2>
            <ul class="list_ text-effect">
                <li> API REST </li>
                <li> GIT </li>
                <li> DDL, DML, DCL </li>
                <li> SQL </li>
                <li> Python </li>
                <li> PHP </li>
                <li> HTML </li>
                
            </ul>
            <ul class="list_ text-effect">
                <li> Postman </li>
                <li> Slack </li>
                <li> Jira </li>
                <li> Javascript,JQuery, TypeScript, Ajax, CSS </li>
                <li> Responsive Web Design </li>
                <li> NoSql </li>
            </ul>
            <ul class="list_ text-effect">
                <li> Django </li>
                <li> CodeIgniter </li>
                <li> Angular </li>
                <li> .NET </li>
            </ul>
            <br>
            </center>
            <br><br>
        <article class="slider_art">
        

        
            <div id="slider">
                <div class="slide">
                    <img src="{% static 'img/capt1.png' %}" >
                </div>
                <div class="slide">
                    <img src="{% static 'img/capt2.png' %}" >
                </div>
                <div class="slide">
                    <img src="{% static 'img/capt3.png' %}" >
                </div>
                <div class="slide">
                    <img src="{% static 'img/capt5.png' %}" >
                </div>
            </div>
            
        
        
    </article>
    <br>
</div>
    {% endblock %}
    <footer>
        {% include "footer.html" %}
    </footer>
</body>


</html>