

<html lang="es">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head>
    {% load static %}
    {% load sass_tags %}

    <title>Portafolio Lucero Monserrat Sánchez Pavón</title>
    <meta name="description" 
    content="Portafolio de Ing. en Sistemas Computacionales 
            Lucero Monserrat Sánchez Pavón Desarrolador Full Stack">
    <meta name="keywords" 
    content="portafolio, programador, full, stack, fullstack,
            mexico,méxico, Lucero, Monserrat, Sanchez, Pavon, portfolio, portafolio">
    <meta name="author" content="Lucero Monserrat Sánchez Pavón">
    <meta name="google-site-verification" content="504I5gZCWokRhaI4jGZCjI9CUm4wyjwRWkRWfsWjFaU" />
    <script type="application/ld+json">
        {"@context":"https://schema.org",
        "@graph":[
            {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "{{ request.get_host }}"
            }
            ,{
                "@type": "ListItem",
                "position": 2,
                "name": "Portafolio",
                "item": "{{ request.get_host }}{% url 'preview' %}"
            }
            ,{
                "@type": "ListItem",
                "position": 3,
                "name": "Contacto",
                "item": "{{ request.get_host }}{% url 'contact' %}"
            }
            ]
            }
            ,{
                "@context": "https://schema.org",
                "@type": "Organization",
                "url": "{{ request.get_host }}",
                "logo": "{{ request.get_host }}{% static 'img/tst.jpeg' %}"
            }
        ]
    }
    </script>
        
    <link rel="stylesheet" type="text/css" href="{% sass_src 'style.scss' %}">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body>    
    <svg height="0px" width="0px">
        <defs>
          <filter id="FilterSVG" color-interpolation-filters="sRGB">
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
          </filter>
        </defs>
      </svg>
        <div id="nav-space"> </div>
        
        <nav>
            {% load static %}
            <img id="img-nav" src="{% static 'img/skeleton-5585324.svg' %}">
            {% include "navbar.html" %}
        </nav>
    <div style=""></div>
    {% block content %}
    {% comment %} <center>
        <h1>L. Monserrat Sánchez P.</h1>
    </center> {% endcomment %}
    <div id="content">
        {% comment %} <img id="spider" id="" src="{% static 'img/spider-5593259_640.png' %}">  {% endcomment %}
        {% comment %} <img class="web-lb" id="" src="{% static 'img/halloween-5644244.svg' %}"> {% endcomment %}
        {% comment %}<center class="icono">
             <i class="fa-solid fa-person-digging"></i> 
        </center>{% endcomment %}
        <br>
        <center><h2 class="titulo text-effect"> Tecnologías </h2></center>
        <center class="skll">
            <br>
            
            
            
            <ul class="list_ text-effect">
                <li> API REST </li>
                <li> GIT </li>
                <li> DDL, DML, DCL </li>
                <li> SQL </li>
                <li> Python </li>
                <li> PHP </li>
                <li> HTML </li>
                
            </ul>
            <ul class="list_ text-effect">
                <li> Postman </li>
                <li> Slack </li>
                <li> Jira </li>
                <li> Javascript,JQuery, TypeScript, Ajax, CSS </li>
                <li> Responsive Web Design </li>
                <li> NoSql </li>
            </ul>
            <ul class="list_ text-effect">
                <li> Django </li>
                <li> CodeIgniter </li>
                <li> Angular </li>
                <li> .NET </li>
            </ul>
            <br>
            </center>
            <br><br><br><br>
        <article class="slider_art">
            <div id="slider">
                <div class="slide">
                    <a href="{% url 'preview' %}">
                    <img src="{% static 'img/1.png' %}" >
                    </a>
                </div>
                <div class="slide">
                    <a href="{% url 'preview' %}">
                    <img src="{% static 'img/3.png' %}" >
                </a>
                </div>
                <div class="slide">
                    <a href="{% url 'preview' %}">
                    <img src="{% static 'img/4.png' %}" >
                </a>
                </div>
                <div class="slide">
                    <a href="{% url 'preview' %}">
                    <img src="{% static 'img/6.png' %}" >
                </a>
                </div>
            </div>
    </article>
    <br>
</div>
    {% endblock %}
    <footer>
        {% include "footer.html" %}
        <script src="{% static 'slider.js' %}"></script>
    </footer>
</body>


</html>